<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/cham-cong/' %}active{% endif %}" href="{% url 'attendance_dashboard' %}">
            <i class="bi bi-speedometer2 me-2"></i>
            Tổng quan
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if '/cham-cong/ca-lam-viec/' in request.path %}active{% endif %}" href="{% url 'work_shift_list' %}">
            <i class="bi bi-clock me-2"></i>
            Ca làm việc
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if '/cham-cong/bang-cham-cong/' in request.path and not '/them/' in request.path %}active{% endif %}" href="{% url 'attendance_sheet_list' %}">
            <i class="bi bi-calendar-check me-2"></i>
            Bảng chấm công
        </a>
    </li>
</ul>